pkgbase = nodejs-webpack
	pkgdesc = JavaScript bundler (CommonJs, AMD, ES6 modules, CSS, Images, JSON, CoffeeScript, LESS)
	pkgver = 5.101.3
	pkgrel = 1
	url = https://webpack.js.org/
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = nodejs-webpack-5.101.3.tgz
	source = nodejs-webpack-5.101.3.tgz::http://registry.npmjs.org/webpack/-/webpack-5.101.3.tgz
	sha256sums = 3521d739b88a4c54eae34984616f75007eaf39b76c325b715ef0e1496bc206d8

pkgname = nodejs-webpack
